@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Contrail+One|Raleway|Rubik);

.shopContainer {
    border: 0.5em solid black;
    padding: 0.2em;
    margin-bottom: 4em;
    margin-top: 1.5em;
    width: 95%
}

.itemName {
    font-family: 'Contrail One', cursive;
    font-size: 350%;
    margin: 0.2em;
}

.itemDesc {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5.5em;
}

.buyBtn {
    border: 0.2em solid black;
    position: absolute;
    bottom: 1em;
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
    padding: 0.25em;
    color: black;
}

.buyBtn:hover {
    cursor: pointer;
    color:white;
    background: black;
    transition: ease-in 0.2s;
    border-color: white;
}

