@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Manjari|Questrial|Contrail+One);

.title {
    margin-left: auto;
    margin-right: auto;
    font-size: 10vw;
    font-family: 'Contrail One', cursive;
}

.instaContainer {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); 
    margin-top: 4vh;
    margin-bottom: 7vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.facebookContainer {
    background:#3C5A99;
    margin-bottom: 7vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.emailContainer {
    background:gray;
    margin-bottom: 7vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.emailContainer:hover {
    cursor: default;
}

.socialLink {
    text-decoration: none;
    color: white;
}

.socialLink:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.socialTitle {
    font-family: 'Questrial', sans-serif;
    line-height: 1.9em;
    font-size: 9vw;
    margin-left: 0.3em;
   
}

.socialTitle:hover {
    text-decoration: none;
}

.socialName {
    font-family: 'Manjari', sans-serif;
    margin-top: -0.8em;
    font-size: 4vw;
    margin-left: 0.3em;
}

.iconContainer {
    font-size: 16vw;
    padding-left: 0.25em;
}